body{
	background-color : #e2e2e2!important;
}

.bg-primary {
	background-color : #009688 !important;
}

.banner{
	width : 100%;
	height : 92.5vh;	/* 91.7vh;  */
	background : linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) , url(../img/banner1.jpg);
	background-size : cover;
	background-attachment: fixed; 
	color : white;	
}

.mycard{
	padding : 20px;
	background : #FFFFFF;
	
} 
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  font-style: italic;
  font-size: small;
}

/* SideBar Style */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar{
	width : 18%;
	background : white;
	height : 100%;
	position : fixed;
	padding-top: 45px;
	z-index: 999999999999999999999999999;
	 
}

.sidebar a{
	display : block;
	width: 100%;
	padding : 10px 25px;
	text-decoration :none;
	color : gray;
}

.sidebar a:hover{
	background: #e2e2e2;
}

.divider{
	height : .5px;
	width : 100%;
	background: #e2e2e2;
	margin-top: 10px;
}
.sidebar .crossBtn{
	position: absolute;			/* "postion:absolute" matlab ki ab parent ke relative me kaam hoga  */
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}
.fas:hover{
	cursor :pointer;
}

.content{
	margin-left : 20%;
}

/*=====[Search CSS]=====*/

.search-container{
	position: relative;
}
.search-result{
	position : absolute;					/* Iss "absolute" se niche wale contents ke upar ye chad jayega.    */
	background: white;
	width: 100%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 6px;
	display : none;
}

.active{
	background: #009688!important;
	color: white!important;
}

