<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/normal/userbase::layout(~{::title},~{::section})">
<!-- Iska matlab ki "base.html" me iss "home.html" ka "section" wala portion bhej rahe hai  -->
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>

	<section>

		<div class="container">
			<div class="card">
				<div class="card-body my-2">

					

					<div class="container text-center">
						<img src=""
							style="height: 200px; width: 280px; border-radius: 18%;"
							class="my_profile_picture" th:src="@{'/img/contact_logo.jpg'}"
							alt="profile photo" />
					</div>

					<h1 class="text-center mt-3 text-secondary fst-italic fw-light">
						Hi <span th:text="${user.name}"></span>, Start Adding your
						contacts on cloud !
					</h1>
					
					<div class="d-grid gap-2 col-md-10 mx-auto" >
						<a th:href="@{/user/add-contact}" class="btn btn-outline-success btn-sm mt-4 text-uppercase" 
							type="button">Add New Contact</a>
					</div>
					
					<h3 class="my-3 text-secondary">Donate Us</h3>
					<input id="payment_field" type="text" class="form-control my-2"
						placeholder="Enter amount here" />

					<div class="container text-center mt-3">
						<button onclick="paymentStart()"
							class="btn btn-secondary btn-block">Checkout</button>
					</div>

				</div>
			</div>
		</div>

		<script>
	        $(document).ready(() => {
	          $(".item").removeClass("active");
	          $("#home-page").addClass("active");
	        });
      	</script>
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	</section>


</body>
</html>
