<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/normal/userbase::layout(~{::title},~{::section})"> 	<!-- Iska matlab ki "base.html" me iss "home.html" ka "section" wala portion bhej rahe hai  -->
<head>
	<meta charset="ISO-8859-1">
	<title>About - Smart Contact Manager</title>
</head>
<body>

	<section>
	
		<h2>Welcome, you are a normal USER !</h2>
		<h2>This is your private dashboard.</h2>
		
		<h3>User Email :  <span th:text="${user.email}"></span> </h3>
		<h3>User Name : <span th:text="${user.name}"></span> </h3>
		
		<h4><a href="" th:href="@{/logout}">Logout</a></h4>
		
	</section>
	

</body>
</html>
