<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::title},~{::section})"> 	<!-- Iska matlab ki "base.html" me iss "home.html" ka "section" wala portion bhej rahe hai  -->
<head> 
	<meta charset="UTF-8" />
	<title>Home - Smart Contact Manager</title>
</head>
<body>
	
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>SMART CONTACT MANAGER</h1>
			<p>
				Collecting your contacts in very smarter way. We provide very efficient and smarter way of handling contacts. 
			</p>
			<button class="btn bg-primary btn-lg text-white" onclick="location.href='/signup';">Get Started</button>
		</div>
	</section>
	
	
</body>
</html>
	