<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::title},~{::section})"> 	<!-- Iska matlab ki "base.html" me iss "home.html" ka "section" wala portion bhej rahe hai  -->
<head> 
	<meta charset="UTF-8" />
	<title>Register - Smart Contact Manager</title>
</head>
<body>
	 
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					
					<div class="mycard mt-4 rounded shadow-lg">
					
						<div style="height:8vh;" th:if="${session.message}" th:classappend="${session.message.type}" class="alert-dismissible fade show alert" role="alert">
						 	<p class="text-center" th:text="${session.message.content}"></p>
						 	<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					
						<img class="offset-md-1" style="width: 75px" th:src="@{/img/membership.png}" alt="" />
					
						<h1 class="text-center d-inline offset-1 ">Register Here !!</h1>
						<div id="emailHelp" class="form-text text-center">We'll never share your personal details with anyone else.</div>
						
						<form th:action="@{/do-register}" method="post" th:object="${user}">
						
							<div class="mb-2">
							    <label for="name_field" class="form-label">Your Name</label>
							    <input type="text" th:value="${user.name}" class="form-control" id="name_field" name="name" required autofocus
							     	 	th:classappend="${#fields.hasErrors('name')}?'is-invalid':''" placeholder="Enter your name here" aria-describedby="emailHelp">
							     
							     <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>	
							</div>
							
							<div class="mb-2">
							    <label for="email_field" class="form-label">Your Email address</label>
							    <input type="email" th:value="${user.email}" class="form-control" id="email_field" name="email" required
							    		th:classappend="${#fields.hasErrors('email')}?'is-invalid':''" placeholder="Enter your email here" aria-describedby="emailHelp">
							
								<div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
							</div>
							
							<div class="mb-2">
								<label for="password_field" class="form-label">Your Password</label>
							    <input type="password" class="form-control" id="password_field" name="password" required
							    		th:classappend="${#fields.hasErrors('password')}?'is-invalid':''" placeholder="Enter your password here">
							
								<div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>
							</div>
							
							
							<div class="mb-2 form-group">
  								<label for="about_field" class="form-label">About you</label>
  								<textarea name="about" th:text="${user.about}" placeholder="Enter something about yourself" required
  										id="about_field" rows="4" class="form-control"></textarea>
  							</div>
							
  						
							<div class="mb-2 form-check form-group d-flex justify-content-center">
								<input type="checkbox" class="form-check-input" id="agreementCheck" name="agreementCheck" required> &nbsp; 
								<label class="form-check-label" for="agreementCheck">Accept terms and conditions</label>
							</div>
							
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white" title="Submit this page !">Submit</button> &nbsp;
								<button type="reset" class="btn btn-secondary" title="Reset your entries !">Reset</button>
							</div>
							
						</form>
						
					</div>
					
					
				</div>
			</div>
				
		</div>
	</section>
	
	
</body>
</html>
	